.all-profiles-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333 transparent;
  border: 1px solid #555 transparent;
  border-radius: 8px;
  margin-top: 60px;
  margin-bottom: 15px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.loading-message,
.error-message {
  font-size: 18px;
  text-align: center;
  color: #ccc;
}

.profile-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap to new line */
  justify-content: space-between; /* Maintain gap between items */
}

.profile-item {
  flex: 0 1 calc(50% - 20px); /* Two items per row with gap */
  margin-bottom: 25px;
  padding: 10px;
  color: white;
  background-color: #444;
  border: 1px solid #666;
  border-radius: 4px;
  box-shadow: 0px 0px 15px rgba(10, 10, 10, 0.3);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 12px;
}

.profile-item:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(5, 5, 5, 0.85);
  -moz-box-shadow: 0px 0px 15px 5px rgba(20, 20, 20, 0.85);
  box-shadow: 0px 0px 15px 5px rgba(45, 45, 45, 0.85);
}

.profile-item strong {
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.profile-item img {
  max-width: 100px;
  height: auto;
  margin-left: 10px;
  border-radius: 50%;
}

.profile-details {
  margin-top: 8px;
}

.profile-details > div {
  margin-bottom: 4px;
}

/* Media Queries */
@media (max-width: 768px) {
  .profile-item {
    flex: 0 1 calc(50% - 10px); /* Two items per row on tablets */
  }
}

@media (max-width: 480px) {
  .all-profiles-container {
    padding: 15px;
  }
  
  .page-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .loading-message,
  .error-message {
    font-size: 16px;
  }
  
  .profile-item {
    flex: 0 1 calc(100% - 20px); /* One item per row on mobile devices */
    font-size: 10px; /* Smaller text size on mobile */
    margin-bottom: 15px;
  }
  
  .profile-item img {
    max-width: 80px; /* Smaller image size on mobile */
    margin-left: 5px;
  }
}
