html {
  height: 100%;
}
body {
  height: 100%;
  background-color: rgb(170, 158, 138);
}
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
#page-content {
  flex-grow: 2;
}

/* LOGIN CSS */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(5, 5, 5, 0.85);
  -moz-box-shadow: 0px 0px 15px 5px rgba(20, 20, 20, 0.85);
  box-shadow: 0px 0px 15px 5px rgba(45, 45, 45, 0.85);
  border-radius: 5px;
  margin-top: 60px;
  background-color: #333;
  color: white;
}

.login-header {
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  text-align: center;
}

.submit-button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008000;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button button:hover {
  background-color: #008000aa;
}

.register {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008000;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register a {
  color: #000000;
  text-decoration: none;
}

.register:hover {
  background-color: #008000aa;
}


/* CREATE NEW USER CSS */
.new-user-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(5, 5, 5, 0.85);
  -moz-box-shadow: 0px 0px 15px 5px rgba(20, 20, 20, 0.85);
  box-shadow: 0px 0px 15px 5px rgba(45, 45, 45, 0.85);
  border-radius: 5px;
  margin-top: 60px;
  background-color: #333;
  color: white;
}

.create-header {
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #008000;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-submit:hover {
  background-color: #008000aa;
}

.btn-secondary {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #008000;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn-secondary:hover {
  background-color: #008000aa;
}

.btn-secondary a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.listing-page-container {
  display: flex;
  align-items: center;
  height: 100vh; /* Make the container full height of the viewport */
}

.listing-info-container,
.form-container {
  width: 100%;
  max-width: 400px; /* Set a max-width for better readability */
  margin: 0 auto; /* Center the container horizontally */
}

.listing-info-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-container {
  width: 100%;
  max-width: 600px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #121a22;
}

  .search-button {
  background-color: rgba(100, 100, 100, 0.3);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: rgba(100, 100, 100, 0.1);
}

.search-button i {
  font-size: 18px;
}

.listings-container {
  width: 100%;
  max-width: 800px;
}

