.listings-container {
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(45, 45, 45, 0.85);
    margin: 20px;
    padding: 20px;
    width: 250px;
    text-align: start;
    background-color: #333;
    color: white;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border: 1px solid #444;
  }
