.listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.create-listing-form,
.update-listing-form {
  width: 400px;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(5, 5, 5, 0.85);
  -moz-box-shadow: 0px 0px 15px 5px rgba(20, 20, 20, 0.85);
  box-shadow: 0px 0px 15px 5px rgba(45, 45, 45, 0.85);
  border-radius: 5px;
  background-color: #ccc;
}

.create-listing-form h2,
.update-listing-form h2 {
  margin-bottom: 20px;
}

.create-listing-form input,
.update-listing-form input,
.create-listing-form textarea,
.update-listing-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.create-listing-form button,
.update-listing-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #008000;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-listing-form button:focus,
.update-listing-form button:focus {
  background-color: #008000aa;
}

 .delete-listing button {
  background-color: rgba(245, 0, 0, 0.8);
  transition: background-color 0.3s ease;
 }
 
 .delete-listing button:hover {
  background-color: rgba(255, 3, 3, 0.611);
 }
  
  