.listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.create-listing-form,
.update-listing-form {
  width: 400px;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #7a7a7a;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(5, 5, 5, 0.85);
  -moz-box-shadow: 0px 0px 15px 5px rgba(20, 20, 20, 0.85);
  box-shadow: 0px 0px 15px 5px rgba(45, 45, 45, 0.85);
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.create-listing-form h2,
.update-listing-form h2 {
  margin-bottom: 20px;
}

.create-listing-form input,
.update-listing-form input,
.create-listing-form textarea,
.update-listing-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: black;
}

.create-listing-form .Create-button,
.update-listing-form .Update-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #008000;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-listing-form .Create-button:focus,
.update-listing-form .Update-button:focus {
  background-color: #008000aa;
}

 .delete-listing .delete-button {
  background-color: rgba(245, 0, 0, 0.8);
  transition: background-color 0.3s ease;
 }
 
 .delete-listing .delete-button:hover {
  background-color: rgba(255, 3, 3, 0.611);
 }
  
 /* Media Queries */
@media (max-width: 768px) {
  .create-listing-form,
  .update-listing-form {
    width: 80%; /* Adjust form width for tablets */
    max-width: 400px; /* Limit maximum width */
  }
}

@media (max-width: 480px) {
  .create-listing-form,
  .update-listing-form {
    width: 90%; /* Adjust form width for mobile devices */
    max-width: 100%; /* Take full width of the screen */
    padding: 15px; /* Reduce padding for smaller screens */
    margin-bottom: 20px; /* Adjust margin */
  }

  .create-listing-form h2,
  .update-listing-form h2 {
    font-size: 20px; /* Increase heading font size */
    margin-bottom: 15px; /* Adjust heading margin */
  }

  .create-listing-form .Create-button,
  .update-listing-form .Update-button {
    font-size: 14px; /* Decrease button font size */
    padding: 8px; /* Adjust button padding */
  }
}

@media (max-width: 375px) {
  .create-listing-form,
  .update-listing-form {
    padding: 10px; /* Further reduce padding for smallest screens */
    margin-bottom: 10px; /* Further adjust margin */
  }

  .create-listing-form h2,
  .update-listing-form h2 {
    font-size: 18px; /* Further adjust heading font size */
    margin-bottom: 10px; /* Further adjust heading margin */
  }

  .create-listing-form .Create-button,
  .update-listing-form .Update-button {
    font-size: 12px; /* Further decrease button font size */
    padding: 6px; /* Further adjust button padding */
  }
}
  