.logout-button {
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    color: #ff0000;
    text-decoration: underline;
  }
  
  .logout-button:active {
    color: black;
  }
  
  .logout-button:focus {
    outline: none;
  }
  