.message-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.send-message-container,
.update-message-container {
  width: 100%;
  text-align: center;
  max-width: 600px;
  margin-bottom: 20px;
}

.form-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

textarea:focus,
input[type="file"]:focus {
  border-color: #007bff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.delete-button {
  margin-top: 20px;
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}
